{% extends 'base.html' %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}
{% block content %}
    <div>
        {% for post in posts %}
        <a href="{% url 'blogpost' id=post.id %}">
            <div class="container">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-meta">By {{ post.author }} | Created: {{ post.date_created }} | Updated: {{ post.date_updated }}
                </p>
                <div class="post-content">
                    {{post.content | slice:200}}. . .
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div>
        <div class="newsletter-container">
            <h3>Subscribe to our Newsletter</h3>
            <p>Stay updated with our latest content, articles, and special offers. Enter your details below to
                subscribe to our
                monthly newsletter.</p>
            <form action="https://example.com/subscribe" method="post">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" required><br><br>
    
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" required><br><br>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
    
                <label for="frequency">Newsletter Frequency:</label>
                <select id="frequency" name="frequency" required>
                    <option value="monthly">Monthly</option>
                    <option value="bi-weekly">Bi-Weekly</option>
                    <option value="weekly">Weekly</option>
                </select><br><br>
    
                <label>
                    <input type="checkbox" name="agree" required>
                    I agree to the <a href="#">terms and conditions</a>
                </label><br><br>
    
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>
{% endblock %}