@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    color: black;
}

body {
    padding: 10px 5px;
}

header {
    background-color: rgb(43, 80, 242);
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: auto;
}

header h1 {
    color: white;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ddd;
}

.brand button {
    display: none;
}


main {
    transition: 0s;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 20px 20px 20px 0px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.post-meta {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.post-content {
    line-height: 1.6;
}

.newsletter-container {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter-container h3 {
    margin-top: 0;
}

.newsletter-container label {
    display: block;
    margin-top: 10px;
}

.newsletter-container input[type="text"],
.newsletter-container input[type="email"],
.newsletter-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none !important;
    outline: none !important;
    transition: .3s;
}

.newsletter-container input[type="text"]:focus,
.newsletter-container input[type="email"]:focus,
.newsletter-container textarea:focus {
    border: thin solid rgb(43, 80, 242) !important;
}

.newsletter-container input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-container input[type="submit"]:hover {
    background-color: #0056b3;
}








@media (max-width: 768px) {
    header {
        display: block;
        margin: 0;
        padding: 0;
    }

    header nav {
        max-height: 0;
        transition: .3s;
        overflow: hidden;
    }

    header nav.show {
        max-height: 1000px !important;
    }

    header nav ul {
        display: block;
    }

    header nav ul li {
        padding: 15px 10px;
    }

    .brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 0;
    }

    .brand button {
        font-size: 2em;
        padding: 0 10px;
        background: none;
        border: 2px solid transparent;
        border-radius: 10px;
        color: white !important;
        transition: .3s;
        display: block;
    }

    .brand button i {
        color: white;
    }

    .brand button:hover {
        border-color: white;
    }
}