@media (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .newsletter-container {
        display: none;
    }
}

main {
    transition: 0s;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 20px 20px 20px 0px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1.5px solid black;
}

.container img{
    width: 100% !important;
    aspect-ratio: 2;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid white;
}

.post-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.post-meta {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.post-content {
    line-height: 1.6;
}

.newsletter-container {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter-container h3 {
    margin-top: 0;
}

.newsletter-container label {
    display: block;
    margin-top: 10px;
}

.newsletter-container input[type="text"],
.newsletter-container input[type="email"],
.newsletter-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none !important;
    outline: none !important;
    transition: .3s;
}

.newsletter-container input[type="text"]:focus,
.newsletter-container input[type="email"]:focus,
.newsletter-container textarea:focus {
    border: thin solid rgb(43, 80, 242) !important;
}

.newsletter-container input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-container input[type="submit"]:hover {
    background-color: #0056b3;
}